In [41]:
import pandas as pd
import numpy as np
from datetime import datetime, date, timedelta
import calendar

In [42]:
train_df = pd.read_csv('data/train.csv')
test_df = pd.read_csv('data/test.csv')
international_trade_csv = pd.read_csv('data/international_trade.csv')
sample_submission = pd.read_csv('data/sample_submission.csv')

In [48]:
dic_train = {}
for idx, time in enumerate(train_df['timestamp'].unique()):
    time = time.replace('-', '')
    dic_train[time] = idx+1

In [49]:
dic_test = {}
for idx, time in enumerate(test_df['timestamp'].unique()):
    time = time.replace('-', '')
    dic_test[time] = idx+1524

In [52]:
#시계열 특성을 학습에 반영하기 위해 timestamp를 월, 일, 시간으로 나눕니다
train_df['year'] = train_df['timestamp'].apply(lambda x : int(x[0:4]))
train_df['month'] = train_df['timestamp'].apply(lambda x : int(x[5:7]))
train_df['day'] = train_df['timestamp'].apply(lambda x : int(x[8:10]))
train_df['weekday'] = train_df['timestamp'].apply(lambda x : datetime.strptime(x, '%Y-%m-%d').weekday())
train_df['prod_ID'] = train_df['ID'].apply(lambda x: x[0:6])
train_df['d'] = train_df['ID'].apply(lambda x: f'd_{dic_train[x[7:]]}')
train_df.drop(['ID', 'timestamp'], axis=1, inplace=True)

test_df['year'] = test_df['timestamp'].apply(lambda x : int(x[0:4]))
test_df['month'] = test_df['timestamp'].apply(lambda x : int(x[5:7]))
test_df['day'] = test_df['timestamp'].apply(lambda x : int(x[8:10]))
test_df['weekday'] = test_df['timestamp'].apply(lambda x : datetime.strptime(x, '%Y-%m-%d').weekday())
test_df['prod_ID'] = test_df['ID'].apply(lambda x: x[0:6])
test_df['d'] = test_df['ID'].apply(lambda x: f'd_{dic_test[x[7:]]}')
test_df.drop(['ID', 'timestamp'], axis=1, inplace=True)

이동 평균

In [4]:
def get_moving_average(df):
    for win in [1, 2, 4, 8]:
        df['rm_diff_price_{}'.format(win)] = df[['item', 'corporation', 'location', 'price(원/kg)']].groupby(
            ['item', 'corporation', 'location'])['price(원/kg)'].transform(lambda x : x.rolling(win).mean())
        df['rm_diff_price_{}'.format(win)] = ((df['price(원/kg)'] - df['rm_diff_price_{}'.format(win)]
                                                  )/df['price(원/kg)']).round(3)
    return df
train_df = get_moving_average(train_df)

In [5]:
def lags_wins(df):
    lags = [7, 14, 28]
    lag_cols = [f"lag_{lag}" for lag in lags]
    for lag, lag_col in zip(lags, lag_cols):
        df[lag_col] = df[["prod_ID","price(원/kg)"]].groupby("prod_ID")["price(원/kg)"].shift(lag)

    wins = [7, 14, 28]
    for win in wins :
        for lag,lag_col in zip(lags, lag_cols):
            df[f"rmean_{lag}_{win}"] = df[["prod_ID", lag_col]].groupby("prod_ID")[lag_col].transform(lambda x : x.rolling(win).mean())
    return df
train_df = lags_wins(train_df)

In [6]:
train_df

,item,corporation,location,supply(kg),price(원/kg),year,month,day,weekday,prod_ID,...,lag_28,rmean_7_7,rmean_14_7,rmean_28_7,rmean_7_14,rmean_14_14,rmean_28_14,rmean_7_28,rmean_14_28,rmean_28_28
0,TG,A,J,0.0,0.0,2019,1,1,1,TG_A_J,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TG,A,J,0.0,0.0,2019,1,2,2,TG_A_J,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TG,A,J,60601.0,1728.0,2019,1,3,3,TG_A_J,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TG,A,J,25000.0,1408.0,2019,1,4,4,TG_A_J,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TG,A,J,32352.0,1250.0,2019,1,5,5,TG_A_J,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59392,RD,F,J,452440.0,468.0,2023,2,27,0,RD_F_J,...,604.0,528.142857,372.428571,402.000000,450.285714,433.642857,355.142857,449.357143,394.392857,377.642857
59393,RD,F,J,421980.0,531.0,2023,2,28,1,RD_F_J,...,719.0,519.285714,390.428571,504.714286,454.857143,420.642857,377.285714,466.321429,398.964286,383.214286
59394,RD,F,J,382980.0,574.0,2023,3,1,2,RD_F_J,...,646.0,497.857143,416.714286,507.428571,457.285714,416.642857,393.571429,459.642857,405.107143,386.607143
59395,RD,F,J,477220.0,523.0,2023,3,2,3,RD_F_J,...,620.0,456.142857,464.714286,500.714286,460.428571,421.500000,406.785714,449.964286,414.142857,391.642857
59396,RD,F,J,427520.0,529.0,2023,3,3,4,RD_F_J,...,562.0,413.142857,507.000000,514.857143,460.071429,430.571429,413.285714,447.285714,421.928571,396.500000

In [ ]:
CAL_DTYPES={"event_name_1": "category", "event_name_2": "category", "event_type_1": "category", 
         "event_type_2": "category", "weekday": "category", 'wm_yr_wk': 'int16', "wday": "int16",
        "month": "int16", "year": "int16", "snap_CA": "float32", 'snap_TX': 'float32', 'snap_WI': 'float32'}
PRICE_DTYPES = {"store_id": "category", "item_id": "category", "wm_yr_wk": "int16","sell_price":"float32"}
SALES_DTYPES = {"id": "category", 'item_id': "category", 'dept_id': "category", 'store_id': "category", 
                "cat_id": "category", 'state_id': "category"}
for i in range(1942):
    SALES_DTYPES[f'd_{i}'] = np.int16

In [ ]:
sample_submission